body{
  background-color: #ffeaa7;
  min-height: 70vh;
  padding: 1rem;
  background-color: yellow;
  display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.container{
  display: flex;
  justify-content: center;


  width: 100%;
  height: auto;
  min-width: 500px;
  min-height: 500px;
  max-width: 250px;
  background-color: #f1f5f8 ;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 40px 3px 7px 2px #000;
  padding: 1rem; 
  box-sizing: border-box;
 
}



  .heading{
   
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

  }
  .heading > h1{
      
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% ,5%,20%,5% / 5% 20% 25% 20%;
    background-color: yellow;
    font-size: 1.5rem;


  }
  .form > input{
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius:  15px 3px;
    border-bottom-left-radius: 3px 35px;
    border: 3px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color:  hsla(260, 2%, lightness, alpha);
    width:70% ;
    margin-bottom: 20px
  }

  button{
    padding: 0;
    border: none;
    text-decoration: none;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: yellow;

   
  }
  button > span{
    background: #f1f5f8;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid hsl(190,1%, 29%);


  }
  li{
    text-align: left;
    position: relative;
    padding: 0.5rem;
  }
  .flex{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:  30px;
  }
